trino
serraict-sqlalchemy-dremio>=3.0.6
sqlalchemy-firebird>=0.7.0, <0.8
fdb
prometheus-flask-exporter
pyodbc
pymssql
psycopg2-binary

# OAuth2/OIDC dependencies for Authelia integration
authlib
flask-oidc==2.2.0
flask-openid
